<form action="/otters/add-otter" method="post">
  <label for="name">
    Name:
    <input type="text" id="name" name="name">
  </label>
  <br />

  <label for="isSeaOtter">
    Sea Otter:
    <input type="checkbox" id="isSeaOtter" name="isSeaOtter">
  </label>
  <br />
  
  <label for="famousFor">
    Famous For:
    <input type="text" id="famousFor" name="famousFor">
  </label>
  <br />

  <button type="submit">Add</button>
</form>

<a href="/">Nah, go back home pls</a>