body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.main, .title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav, .nav {
  min-width: 300px;
}

.info {
  flex-basis: 65%
}

.title img {
  height: 8rem;
  width: 8rem;
  padding-right: 30px;
}

.main div {
  margin: 0px 10px 0px 10px;
}

a {
  text-decoration-line: none;
}

img {
  max-height: 300px;
}
