<!DOCTYPE html>
<html>

<head>
  <title>Elise's video rentals</title>
  <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>

<body>
  {{>header}}
  {{{ body }}}
  {{>footer}}
</body>

</html>
