<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/renters">Renters</a></li>
        <li><a href="/rentals">Rentals</a></li>
      </ul>
    </nav>
  </header>
